@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 100;
	src: local('Roboto Mono Thin Italic'),
		local('RobotoMono-ThinItalic'),
		url("fonts/RobotoMono-ThinItalic.eot"),
		url("fonts/RobotoMono-ThinItalic.otf") format("opentype"),
		url("fonts/RobotoMono-ThinItalic.svg") format("svg"),
		url("fonts/RobotoMono-ThinItalic.ttf") format("truetype"),
		url("fonts/RobotoMono-ThinItalic.woff") format("woff"),
		url("fonts/RobotoMono-ThinItalic.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Mono Light Italic'),
		local('RobotoMono-LightItalic'),
		url("fonts/RobotoMono-LightItalic.eot"),
		url("fonts/RobotoMono-LightItalic.otf") format("opentype"),
		url("fonts/RobotoMono-LightItalic.svg") format("svg"),
		url("fonts/RobotoMono-LightItalic.ttf") format("truetype"),
		url("fonts/RobotoMono-LightItalic.woff") format("woff"),
		url("fonts/RobotoMono-LightItalic.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Mono Italic'),
		local('RobotoMono-Italic'),
		url("fonts/RobotoMono-Italic.eot"),
		url("fonts/RobotoMono-Italic.otf") format("opentype"),
		url("fonts/RobotoMono-Italic.svg") format("svg"),
		url("fonts/RobotoMono-Italic.ttf") format("truetype"),
		url("fonts/RobotoMono-Italic.woff") format("woff"),
		url("fonts/RobotoMono-Italic.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 500;
	src: local('Roboto Mono Medium Italic'),
		local('RobotoMono-MediumItalic'),
		url("fonts/RobotoMono-MediumItalic.eot"),
		url("fonts/RobotoMono-MediumItalic.otf") format("opentype"),
		url("fonts/RobotoMono-MediumItalic.svg") format("svg"),
		url("fonts/RobotoMono-MediumItalic.ttf") format("truetype"),
		url("fonts/RobotoMono-MediumItalic.woff") format("woff"),
		url("fonts/RobotoMono-MediumItalic.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Mono Bold Italic'),
		local('RobotoMono-BoldItalic'),
		url("fonts/RobotoMono-BoldItalic.eot"),
		url("fonts/RobotoMono-BoldItalic.otf") format("opentype"),
		url("fonts/RobotoMono-BoldItalic.svg") format("svg"),
		url("fonts/RobotoMono-BoldItalic.ttf") format("truetype"),
		url("fonts/RobotoMono-BoldItalic.woff") format("woff"),
		url("fonts/RobotoMono-BoldItalic.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Mono Thin'),
		local('RobotoMono-Thin'),
		url("fonts/RobotoMono-Thin.eot"),
		url("fonts/RobotoMono-Thin.otf") format("opentype"),
		url("fonts/RobotoMono-Thin.svg") format("svg"),
		url("fonts/RobotoMono-Thin.ttf") format("truetype"),
		url("fonts/RobotoMono-Thin.woff") format("woff"),
		url("fonts/RobotoMono-Thin.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Mono Light'),
		local('RobotoMono-Light'),
		url("fonts/RobotoMono-Light.eot"),
		url("fonts/RobotoMono-Light.otf") format("opentype"),
		url("fonts/RobotoMono-Light.svg") format("svg"),
		url("fonts/RobotoMono-Light.ttf") format("truetype"),
		url("fonts/RobotoMono-Light.woff") format("woff"),
		url("fonts/RobotoMono-Light.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Mono'),
		local('RobotoMono-Regular'),
		url("fonts/RobotoMono-Regular.eot"),
		url("fonts/RobotoMono-Regular.otf") format("opentype"),
		url("fonts/RobotoMono-Regular.svg") format("svg"),
		url("fonts/RobotoMono-Regular.ttf") format("truetype"),
		url("fonts/RobotoMono-Regular.woff") format("woff"),
		url("fonts/RobotoMono-Regular.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Mono Medium'),
		local('RobotoMono-Medium'),
		url("fonts/RobotoMono-Medium.eot"),
		url("fonts/RobotoMono-Medium.otf") format("opentype"),
		url("fonts/RobotoMono-Medium.svg") format("svg"),
		url("fonts/RobotoMono-Medium.ttf") format("truetype"),
		url("fonts/RobotoMono-Medium.woff") format("woff"),
		url("fonts/RobotoMono-Medium.woff2") format("woff2");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Mono Bold'),
		local('RobotoMono-Bold'),
		url("fonts/RobotoMono-Bold.eot"),
		url("fonts/RobotoMono-Bold.otf") format("opentype"),
		url("fonts/RobotoMono-Bold.svg") format("svg"),
		url("fonts/RobotoMono-Bold.ttf") format("truetype"),
		url("fonts/RobotoMono-Bold.woff") format("woff"),
		url("fonts/RobotoMono-Bold.woff2") format("woff2");
}
